.container {
    display: flex;
    flex-direction: row;
    margin: 5px auto;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
    font-size: 20px;
    min-height: 35px;
    background-color: #FFFDF8;
    align-items: center;
    justify-content: space-between;
    background-color: #474857;
    color: white;
    border: solid #474857 1px;
}

.container:hover {
    /* background-color: #d8d0d0; */
    cursor: pointer;
}

.iconArea {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 35px;
}

.itemName {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 280x;
    height: 25px;
}

.item-date {
    min-width: 80px;
}

.item-days-left {
    min-width: 35px;
}