html, body {
  user-select: none;
  /* background-color: #002a43; */
  background-color: #1e1f26;
  color: #ffffff;
}

.inner-content {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
}


.btn-group {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 55px;
}

.top-group {
  position: fixed;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  color: rgb(179, 255, 160);
  top: 0px;
  width: 100%;
  background-color: #000000; /* Black */
  height: 47px;
  z-index: 10;
  /* overflow: hidden; */
}

.days-bottom {
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  background-color: #002a43;
  color: #ffffff;
  border: 0;
  align-items: center;
  width: 100%;
  height: 55px;
  font-size: 20px;
}
