.App {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
}


.btn-group {
  position: fixed;
  bottom: 0px;
  /* max-width: 320px; */
  width: 100%;
  background-color: #5c5c5c; /* Gray */
  height: 55px;
}

.btn-group .button {
  background-color: #5c5c5c; /* Gray */
  border: none;
  color: white;
  padding: 15px 30px;
  /* width: 33.333333333%; */
  width: 25%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  /* float: left; */
}

.navbar-group {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0px;
  /* max-width: 320px; */
  width: 100%;
  background-color: #000000; /* Black */
  height: 47px;
}

.navbar-search {
display: flex;
}

.navbar-group .button {
  background-color: #000000; /* Black */
  border: none;
  color: white;
  padding: 15px 15px;
  /* width: 33.3333333%; */
  height: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  /* float: left; */
  text-align: left;
}

.navbar-group .select-home {
  background-color: #411342; /* Purple */
  border: none;
  color: white;
  padding: 10px 10px;
  height: 100%;
  width: 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
  /* background: transparent; */
  -webkit-appearance: none;
  appearance: none;
}

.navbar-group .select-store {
  background-color: #411342; /* Purple */
  border: none;
  color: white;
  padding: 10px 10px;
  height: 100%;
  width: 160px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
  /* background: transparent; */
  -webkit-appearance: none;
  appearance: none;
}

.navbar-group .button:hover {
  background-color: #0c0536; /* Deep Blue */
}